.combination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.combination {
  display: flex;
  justify-content: center;
  & img {
    width: 425px;
    height: 100%;
  }
}

@keyframes fadeInAndGrow {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animation-combination {
  animation: fadeInAndGrow 0.3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
.animation-symbole {
  animation: test 850ms ease-in-out infinite;
}

@keyframes test {
  0% {
    transform: scale(0.9);
  }
  15% {
    transform: scale(1);
  }
  85% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}

.animation-fade-out {
  animation: fadeOut 0.5s ease-in-out;
}
