.endgame-player1,
.endgame-player2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("../../../public/assets/BackgroundEndGame.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-between;

  .bg-decoration-up {
    width: 100%;
    height: 50px;
    background-image: url("../../../public/assets/bg-up.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 30px;
  }

  .bg-decoration-down {
    width: 100%;
    height: 50px;
    background-image: url("../../../public/assets/bg-down.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
  }

  .endgame-title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    text-align: center;
    line-height: 100px;
  }
}

.endgame-container {
  color: white;
  font-family: "GraySun", sans-serif;
  font-size: 28px;
  text-transform: uppercase;
}

.endgame-player1 {
  background-image: url("../../../public/assets/BackgroundChimere.png");
}

.endgame-player2 {
  background-image: url("../../../public/assets/BackgroundArchange.png");
}

.logo-chimere {
  width: 260px;
  height: 320px;
  background-image: url("../../../public/assets/logo-chimere.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.logo-archange {
  width: 240px;
  height: 280px;
  background-image: url("../../../public/assets/logo-archange.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
